
RemoteSystemsTempFiles/.project
.metadata/.lock
.metadata/.log
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/com.aspsolutions.jframework.ant.executeFormsAndReports/dialog_settings.xml
.metadata/.plugins/org.eclipse.core.resources/.history/28/c0b59c0f4039001a1300db545cc5e863
.metadata/.plugins/org.eclipse.core.resources/.history/42/b08a7a7c3f39001a1300db545cc5e863
.metadata/.plugins/org.eclipse.core.resources/.history/b0/00c6e30e4039001a1300db545cc5e863
.metadata/.plugins/org.eclipse.core.resources/.projects/Asp/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/Asp/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/GeneratorWarFileReports/.indexes/7/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/GeneratorWarFileReports/.indexes/e4/b9/db/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/GeneratorWarFileReports/.indexes/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/GeneratorWarFileReports/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/GeneratorWarFileReports/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/GeneratorWarFileReports/.syncinfo
.metadata/.plugins/org.eclipse.core.resources/.projects/GeneratorWarFileReports/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/JSP7_Cotizaciones_Rep/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/JSP7_Cotizaciones_Rep/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/JSP7_Cotizaciones_Rep/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/JSP7_Cotizaciones_Rep/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.css.swt.theme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.workbench.renderers.swt.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1215298445.index
.metadata/.plugins/org.eclipse.jdt.core/1233919542.index
.metadata/.plugins/org.eclipse.jdt.core/1241298325.index
.metadata/.plugins/org.eclipse.jdt.core/1314898929.index
.metadata/.plugins/org.eclipse.jdt.core/1394604380.index
.metadata/.plugins/org.eclipse.jdt.core/1401678300.index
.metadata/.plugins/org.eclipse.jdt.core/1410400152.index
.metadata/.plugins/org.eclipse.jdt.core/1428596268.index
.metadata/.plugins/org.eclipse.jdt.core/144380394.index
.metadata/.plugins/org.eclipse.jdt.core/1600426629.index
.metadata/.plugins/org.eclipse.jdt.core/1743281505.index
.metadata/.plugins/org.eclipse.jdt.core/1743703043.index
.metadata/.plugins/org.eclipse.jdt.core/1845031563.index
.metadata/.plugins/org.eclipse.jdt.core/1860485910.index
.metadata/.plugins/org.eclipse.jdt.core/1913535385.index
.metadata/.plugins/org.eclipse.jdt.core/1942359185.index
.metadata/.plugins/org.eclipse.jdt.core/1943575548.index
.metadata/.plugins/org.eclipse.jdt.core/2000873857.index
.metadata/.plugins/org.eclipse.jdt.core/202638269.index
.metadata/.plugins/org.eclipse.jdt.core/2245055480.index
.metadata/.plugins/org.eclipse.jdt.core/2282233987.index
.metadata/.plugins/org.eclipse.jdt.core/2492909726.index
.metadata/.plugins/org.eclipse.jdt.core/2722742416.index
.metadata/.plugins/org.eclipse.jdt.core/2899478204.index
.metadata/.plugins/org.eclipse.jdt.core/3155404947.index
.metadata/.plugins/org.eclipse.jdt.core/3227056335.index
.metadata/.plugins/org.eclipse.jdt.core/3263897811.index
.metadata/.plugins/org.eclipse.jdt.core/3285882483.index
.metadata/.plugins/org.eclipse.jdt.core/3421597620.index
.metadata/.plugins/org.eclipse.jdt.core/3428135673.index
.metadata/.plugins/org.eclipse.jdt.core/3483916883.index
.metadata/.plugins/org.eclipse.jdt.core/3698771103.index
.metadata/.plugins/org.eclipse.jdt.core/3852737441.index
.metadata/.plugins/org.eclipse.jdt.core/4212195811.index
.metadata/.plugins/org.eclipse.jdt.core/531533494.index
.metadata/.plugins/org.eclipse.jdt.core/640682687.index
.metadata/.plugins/org.eclipse.jdt.core/771924836.index
.metadata/.plugins/org.eclipse.jdt.core/839801039.index
.metadata/.plugins/org.eclipse.jdt.core/897659091.index
.metadata/.plugins/org.eclipse.jdt.core/936635273.index
.metadata/.plugins/org.eclipse.jdt.core/953667624.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jst.jsp.core/taglibindex/1314898929.dat
.metadata/.plugins/org.eclipse.jst.jsp.core/taglibindex/1600426629.dat
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/GeneratorWarFileReports/2020/1/3/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/GeneratorWarFileReports/2020/1/3/refactorings.index
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.7.0.20160603-1933.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.laptop-n9s5vdm5_32430/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.laptop-n9s5vdm5_32430/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.laptop-n9s5vdm5_32430/node.properties
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/.plugins/org.eclipse.team.cvs.ui/commentTemplates.xml
.metadata/.plugins/org.eclipse.team.cvs.ui/commitCommentHistory.xml
.metadata/.plugins/org.eclipse.team.cvs.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.team.cvs.ui/repositoriesView.xml
.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.wst.internet.cache/cache.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
.metadata/version.ini
GeneratorWarFileReports/.classpath
GeneratorWarFileReports/.project
GeneratorWarFileReports/.settings/CVS/Entries
GeneratorWarFileReports/.settings/CVS/Repository
GeneratorWarFileReports/.settings/CVS/Root
GeneratorWarFileReports/.settings/org.eclipse.jdt.core.prefs
GeneratorWarFileReports/bin/com/aspsolutions/jframework/ant/AntThread.class
GeneratorWarFileReports/bin/com/aspsolutions/jframework/principal/GeneratorWar.class
GeneratorWarFileReports/bin/com/aspsolutions/jframework/test/prueba.class
GeneratorWarFileReports/bin/com/aspsolutions/jframework/test/Test.class
GeneratorWarFileReports/bin/com/aspsolutions/jframework/test/ZipFileSample.class
GeneratorWarFileReports/bin/com/aspsolutions/jframework/test/ZipWithChecksum.class
GeneratorWarFileReports/bin/com/aspsolutions/jframework/utilities/VelocityTemplate.class
GeneratorWarFileReports/bin/Generator.properties
GeneratorWarFileReports/bin/GeneratorBuild.vm
GeneratorWarFileReports/bin/GeneratorBuild1.vm
GeneratorWarFileReports/bin/GeneratorBuild2.vm
GeneratorWarFileReports/bin/GeneratorBuild3.vm
GeneratorWarFileReports/bin/Projects.xml
GeneratorWarFileReports/build.xml
GeneratorWarFileReports/CVS/Entries
GeneratorWarFileReports/CVS/Repository
GeneratorWarFileReports/CVS/Root
GeneratorWarFileReports/src/CVS/Entries
GeneratorWarFileReports/src/CVS/Repository
GeneratorWarFileReports/src/CVS/Root
GeneratorWarFileReports/src/main/CVS/Entries
GeneratorWarFileReports/src/main/CVS/Repository
GeneratorWarFileReports/src/main/CVS/Root
GeneratorWarFileReports/src/main/java/com/aspsolutions/CVS/Entries
GeneratorWarFileReports/src/main/java/com/aspsolutions/CVS/Repository
GeneratorWarFileReports/src/main/java/com/aspsolutions/CVS/Root
GeneratorWarFileReports/src/main/java/com/aspsolutions/jframework/ant/AntThread.java
GeneratorWarFileReports/src/main/java/com/aspsolutions/jframework/ant/CVS/Entries
GeneratorWarFileReports/src/main/java/com/aspsolutions/jframework/ant/CVS/Repository
GeneratorWarFileReports/src/main/java/com/aspsolutions/jframework/ant/CVS/Root
GeneratorWarFileReports/src/main/java/com/aspsolutions/jframework/CVS/Entries
GeneratorWarFileReports/src/main/java/com/aspsolutions/jframework/CVS/Repository
GeneratorWarFileReports/src/main/java/com/aspsolutions/jframework/CVS/Root
GeneratorWarFileReports/src/main/java/com/aspsolutions/jframework/principal/CVS/Entries
GeneratorWarFileReports/src/main/java/com/aspsolutions/jframework/principal/CVS/Repository
GeneratorWarFileReports/src/main/java/com/aspsolutions/jframework/principal/CVS/Root
GeneratorWarFileReports/src/main/java/com/aspsolutions/jframework/principal/GeneratorWar.java
GeneratorWarFileReports/src/main/java/com/aspsolutions/jframework/test/CVS/Entries
GeneratorWarFileReports/src/main/java/com/aspsolutions/jframework/test/CVS/Repository
GeneratorWarFileReports/src/main/java/com/aspsolutions/jframework/test/CVS/Root
GeneratorWarFileReports/src/main/java/com/aspsolutions/jframework/test/prueba.java
GeneratorWarFileReports/src/main/java/com/aspsolutions/jframework/test/Test.java
GeneratorWarFileReports/src/main/java/com/aspsolutions/jframework/test/ZipFileSample.java
GeneratorWarFileReports/src/main/java/com/aspsolutions/jframework/test/ZipWithChecksum.java
GeneratorWarFileReports/src/main/java/com/aspsolutions/jframework/utilities/CVS/Entries
GeneratorWarFileReports/src/main/java/com/aspsolutions/jframework/utilities/CVS/Repository
GeneratorWarFileReports/src/main/java/com/aspsolutions/jframework/utilities/CVS/Root
GeneratorWarFileReports/src/main/java/com/aspsolutions/jframework/utilities/VelocityTemplate.java
GeneratorWarFileReports/src/main/java/com/CVS/Entries
GeneratorWarFileReports/src/main/java/com/CVS/Repository
GeneratorWarFileReports/src/main/java/com/CVS/Root
GeneratorWarFileReports/src/main/java/CVS/Entries
GeneratorWarFileReports/src/main/java/CVS/Repository
GeneratorWarFileReports/src/main/java/CVS/Root
GeneratorWarFileReports/src/main/resources/CVS/Entries
GeneratorWarFileReports/src/main/resources/CVS/Repository
GeneratorWarFileReports/src/main/resources/CVS/Root
GeneratorWarFileReports/src/main/resources/Generator.properties
GeneratorWarFileReports/src/main/resources/GeneratorBuild.vm
GeneratorWarFileReports/src/main/resources/GeneratorBuild1.vm
GeneratorWarFileReports/src/main/resources/GeneratorBuild2.vm
GeneratorWarFileReports/src/main/resources/GeneratorBuild3.vm
GeneratorWarFileReports/src/main/resources/Projects.xml
JSP7_Cotizaciones_Rep/bin/com/aspsols/cotizaciones/reportes/Cotizaciones_Print.class
JSP7_Cotizaciones_Rep/bin/com/aspsols/cotizaciones/reportes/Cotizaciones_Print_class1.class
JSP7_Cotizaciones_Rep/bin/com/aspsols/cotizaciones/reportes/Cotizaciones_Print_class2.class
JSP7_Cotizaciones_Rep/bin/com/aspsols/cotizaciones/reportes/Cotizaciones_Print_class3.class
JSP7_Cotizaciones_Rep/bin/com/aspsols/cotizaciones/reportes/Cotizaciones_Print_class1.class
JSP7_Cotizaciones_Rep/bin/com/aspsols/cotizaciones/reportes/Cotizaciones_Print_class2.class
JSP7_Cotizaciones_Rep/bin/com/aspsols/cotizaciones/reportes/Cotizaciones_Print_class3.class
JSP7_Cotizaciones_Rep/bin/com/aspsols/cotizaciones/reportes/Cotizaciones_Print.class
